body{
  background-color: #ffffff;
  font-family: Existence-Light;
  padding:150px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin:0px;
}

.leht{
  padding-left: 100px;
  padding-bottom: 30px;
  background-color: #E2DEC2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
  float: none;
}

h1{
  color:#A9997A;
  text-align: left;
  padding: 30px;
  font-size: 48px;
  padding-bottom: 100px;
    
}

p{
  color:#a8997a;
  font-size: 20px;

}

.rida{
  display: flex;
  flex: auto;
  width: auto;
  height: 80%;
}

.veerg{
  background-color: #f9dfab;
  margin-right: 5%;
  margin-bottom: 5%;
  border-color: #a8997a;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 5px #b4a281;
}

.toode{
  width: auto;
  text-align: center;
}

.tekst{
  text-align: center;
  margin-right: 27px;
}

.nupp{
  font-size: 1em;
  padding: 6px;
  background-color: #d2ba8b;
  border-top: 1px solid #A9997A;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  
}

.nupp:hover {
  background: #b1a791;
}

.lingid{

}

.topright{
  color:#A9997A;
  position: absolute;
  top: 40px;
  right: 87px;
  font-size: 20px;
  text-decoration:none;
}

.topright2{
  color:#A9997A;
  position: absolute;
  top: 82px;
  right: 66px;
  font-size: 20px;
  text-decoration:none;
}

.topright3{
  color:#A9997A;
  position: absolute;
  top: 124px;
  right: 63.5px;
  font-size: 20px;
  text-decoration:none;
}