@font-face {
    font-family: Existence-Light;
    src: url(Existence-Light.otf);
}



body{
    background-color: #E2DEC2;
    font-family: Existence-Light;
}


.leht {
  padding-left: 100px;
  padding-bottom: 30px;
  background-color: #E2DEC2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
}

body{
  background-color: #ffffff;
  font-family: Existence-Light;
  padding:150px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin:0px;
}


h1{
    color:#A9997A;
    text-align: left;
    padding: 30px;
    font-size: 48px;
    padding-bottom: 190px;
    
}

p{
    color:#A9997A;
    font-size: 20px;
    padding-left: 30px;

}


.topright{
    color:#A9997A;
    position: absolute;
    top: 40px;
    right: 237px;
    font-size: 20px;
    text-decoration:none;

}

.topright2{
    color:#A9997A;
    position: absolute;
    top: 82px;
    right: 216px;
    font-size: 20px;
    text-decoration:none;
    

}

.topright3{
    color:#A9997A;
    position: absolute;
    top: 124px;
    right: 213.5px;
    font-size: 20px;
    text-decoration:none;
    

}



.button {
    font-size: 1em;
    padding: 6px;
    color: #A9997A;
    border: 1px solid #A9997A;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
.button:hover {
    background: #cbc0a8;
  }
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
    transition: opacity 500ms;
  }
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #cbc0a8;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
  }

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

.google_maps {
  width:640px;
  height:450px;
  border:0;
}